.inputWrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.labelName{
display: block;
font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin-top: 4px;
  color: #6f7a7d;;
  white-space: pre-wrap;
  margin-bottom: 8px;
}

.modalBody{
    width: 500px;
}