/* The Modal (background) */
.lb-modal {
  position: fixed;
  padding-top: 5vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.lb-modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 90vw;
  height: 90vh;
}

.lb-slides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.lb-slides img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* The Close Button */
.lb-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 2005;
}

.lb-close:hover,
.lb-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Next & previous buttons */
.lb-prev,
.lb-next {
  cursor: pointer;
  position: absolute;
  top: 35vh;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.lb-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.lb-prev:hover,
.lb-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.lb-caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
  height: 5vh;
}

img.lb-demo {
  opacity: 0.6;
  height: 15vh;
  padding: 0 10px;
  cursor: pointer;
}

.lb-active,
.lb-demo:hover {
  opacity: 1 !important;
}

.lb-thumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 15vh;
}

.lb-thumbs img {
  width: auto;
  height: auto;
  padding: 10px;
  cursor: pointer;
}