.cardWrapper {
  background: #ffffff;
  /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.2); */
  border-radius: 5px;
  /* padding: 0 12px; */
  display: inline-block;
  margin: 0 10px;
  width: 80px;
  max-width: 200px;
}

.cardWrapper:last-child {
  margin-right: 0px;
}

.cardContent {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  color: #000000;
  font-weight: 500;
}

.optionTextCss {
  font-size: 12px;
  color: darkgray;
  cursor: pointer;
}

.optionTextCss a {
  text-decoration: none;
  color: darkgray;
}

.optionTextCss a:hover {
  color: blue;
  text-decoration: underline;
}