.topBar {
  margin-bottom: 10px;
  border-radius: 8px;
  color: black;
  box-sizing: border-box;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
}

.iconsList {
  display: flex;
  column-gap: 20px;
  flex-direction: row;
}

.iconsList > div {
  cursor: pointer;
}

.titleWrap {
  display: flex;
  cursor: pointer;
  flex-direction: row;
}
/* .titleWrap:hover {
  background-color: rgba(0, 0, 0, 0.5);
} */

.titleCss {
  margin-right: 8px;
  font-weight: 600;
}
