.appCardWrapper {
  width: 412px;
  height: 268px;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 20px 17px;
  background-color: white;
  border-radius: 8px;
}

.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 21px;
  color: #000000;
}

.subTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 12px 0px;
  min-height: 68px;
  color: #6f7a7d;
}

.authorWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.appCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 1400px) {
  .appCardWrapper {
    width: 380px;
  }
}

@media (max-width: 1300px) {
  .appCardWrapper {
    width: 350px;
  }
}

@media (max-width: 1200px) {
  .appCardWrapper {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 14px;
  }
}
