.appCardOuterWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 26px;
}

.pageStyle {
  background-color: #f5f5f7;
  min-height: 100vh;
}

.pageInnerWrapper {
  margin: 0px 86px;
}

@media (max-width: 1400px) {
  .pageInnerWrapper {
    margin: 0px 66px 0px 100px;
  }
}

@media (max-width: 1200px) {
  .appCardOuterWrapper {
    grid-template-columns: 1fr 1fr;
  }
  .pageInnerWrapper {
    margin: 0px 46px 0px 100px;
  }
}
@media (max-width: 992px) {
  .pageInnerWrapper {
    margin: 0px 26px 0px 100px;
  }
}

@media (max-width: 576px) {
  .appCardOuterWrapper {
    grid-template-columns: 1fr;
  }
  .pageInnerWrapper {
    margin: 0px 16px 0px 80px;
  }
}

@media (max-width: 375px) {
  .pageInnerWrapper {
    margin: 0px 16px 0px 80px;
  }
}
