.pageStyle {
  background-color: #f5f5f7;
  height: 100%;
  overflow-y: scroll;
}

.pageInnerWrapper {
  margin: 0px 40px 0px 116px;
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 10px;
}
.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 107% */

  letter-spacing: 0.1px;

  color: #000000;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height */

  color: #000000;
}

.subHeading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #c4c4c4;
}

.ellipsesIcon {
  cursor: pointer;
}



.parentWrap {
  /*height: 100px;*/
}

.inputField {
  padding: 8px 12px;
  outline: none;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  /*max-width: 400px;*/
  /*min-width: 400px;*/
  font-family: "Roboto";
}

.textField {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.fieldWrap {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 300px auto auto;
  column-gap: 40px;
  margin-bottom: 10px;
  /*margin-top: 16px;*/
  /*padding-bottom: 16px;*/
  align-items: center;
}

.inputFieldReadOnly {
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 4px;
  /*max-width: 400px;*/
  /*min-width: 400px;*/
  color: rgb(82, 79, 79);
  font-family: "Roboto";
  background-color: #e9e9e9;
}

.editStateWrap {
  margin: 10px 0px;
  display: flex;
  column-gap: 10px;
}

@media (max-width: 768px) {
  .fieldWrap {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .textField {
    width: 100%;
  }
  .fieldWrap {
    width: 100%;
  }
  /*.textFieldOuterWrap {*/
  /*  width: 100%;*/
  /*}*/
  .inputFieldReadOnly {
    max-width: 100%;
    min-width: 100%;
    padding: 6px;
  }
  .inputField {
    max-width: 100%;
    min-width: 100%;
    padding: 6px;
  }
}

@media (max-width: 1400px) {
  .pageInnerWrapper {
    margin: 0px 66px 0px 100px;
  }
}

@media (max-width: 1200px) {
  .pageInnerWrapper {
    margin: 0px 46px 0px 100px;
  }
}
@media (max-width: 992px) {
  .pageInnerWrapper {
    margin: 0px 26px 0px 100px;
  }
}

@media (max-width: 576px) {
  .pageInnerWrapper {
    margin: 0px 16px 0px 80px;
  }
}

@media (max-width: 375px) {
  .pageInnerWrapper {
    margin: 0px 16px 0px 80px;
  }
}