.pageStyle {
  background-color: #f5f5f7;
  min-height: 100vh;
}
.pageInnerWrapper {
  margin: 0px 86px;
}

.inventoryCardOuterWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 26px;
}
