.formBg {
    background-color: #f5f5f5;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.signUpForm {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}