.pageStyle {
  background-color: #f5f5f7;
  min-height: 100vh;
}
.pageInnerWrapper {
  margin: 0px 86px;
}

.profileWrapper {
  margin-top: 50px;
  min-height: 100vh;
  padding-bottom: 100px;
}

.profileDetailWrapper {
  display: grid;
  grid-template-columns: 30% 1fr;
  column-gap: 24px;
}

.profileInfoCard {
  width: 100%;
  background-color: white;
  padding: 30px 30px;
}

.userName {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #000000;
}
.userShortName {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.85);
}
.uploadInfoSubText {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #3f3637;
  margin-top: 10px;
}
.uploadInfoNumber {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #3f3637;
}
.profileImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.uploadInfoWrapper {
  background: #e1e5f5;
  border: 1px dashed #8453ec;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 25px 18px;
  text-align: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #3f3637;
  margin-bottom: 20px;
}

.uppyWrapper {
  margin-bottom: 20px;
}

.joinedInfo {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #3f3637;
}

.joinedDateCss {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  text-align: center;
  letter-spacing: 0.2px;

  color: #3f3637;
}

/* section 2 */
.profileEditInfoCard {
  width: 100%;
  background-color: white;
  padding: 30px;
}

.titleText {
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.4px;
  color: #000000;
  margin-bottom: 12px;
}

.tabs {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #000000;
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;

}
.boxWrapper {
  padding-top: 30px;
  border-top: 1px solid #C4C4C4;
  min-height: 350px;
}
.boxWrapper2 {
  border-top: 1px solid #C4C4C4;
  min-height: 350px;
}
.apiTitle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #000000;
}

.apiSubTitle{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height:25px;

color: #6F7A7D;
max-width: 580px;
text-align: center;
}

.brand{
  color: #1373E5;
  cursor: pointer;
}
.apiWrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.inputWithLabel {
  display: flex;
  flex-direction: column;
}
.labelText {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.inputRowWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  margin-bottom: 20px;
}
.bioWrapper {
  display: flex;
  flex-direction: column;
}
.updateInfoButtonWrapper {
  margin-top: 24px;
}
/* section 3 */

.metricWrapper {
  margin-top: 24px;
  width: 100%;
  /* height: 30vh; */
  display: flex;
  column-gap: 24px;
  justify-content: space-between;
  /* background-color: white; */
  /* padding: 30px 40px; */
}

@media (max-width: 1400px) {
  .pageInnerWrapper {
    margin: 0px 66px;
  }
}

@media (max-width: 1200px) {
  .pageInnerWrapper {
    margin: 0px 46px;
  }
  .metricWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
  }
}
@media (max-width: 992px) {
  .pageInnerWrapper {
    margin: 0px 26px;
  }
  .profileDetailWrapper {
    grid-template-columns: 40% 1fr;
  }
}

@media (max-width: 768px) {
  .profileDetailWrapper {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}

@media (max-width: 576px) {
  .pageInnerWrapper {
    margin: 0px 16px;
  }
  .metricWrapper {
    grid-template-columns: 1fr;
  }
  .inputRowWrapper {
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .pageInnerWrapper {
    margin: 0px 16px;
  }
}
