.root {
    align-items: center;
    display: inline-flex;
    /*grid-template-columns: auto auto 1fr auto;*/
    margin-left: -20px;
    margin-bottom: 5px;
    height: auto;
    width: auto;
    /*padding-inline-end: 8px;*/
    padding-left: 8px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #5e5e5f;
    /*position: fixed;*/
}

.root:hover {
    background-color: #d3d3d3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.rootDragging {
    background-color: #d3d3d3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    display: flex;
}

.root.isSelectedGroup {
    color: #1a73e8;
    background-color: #dae5f3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.root.isSelectedResearchItem {
    color: grey;
    background-color: #d3d3d3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.root.isSelectedExperiment {
    color: #3c8039;
    background-color: #e6f4ea;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.root.isSelectedSample {
    color: #e3742f;
    background-color: #fcefe3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.expandIconWrapper {
    align-items: center;
    font-size: 0;
    cursor: pointer;
    display: flex;
    height: 24px;
    justify-content: center;
    width: 24px;
    transition: transform linear .1s;
    transform: rotate(0deg);
}

.expandIconWrapper.isOpen {
    transform: rotate(90deg);
}

.labelGridItem {
    padding-inline-start: 8px;
    white-space: nowrap;

}

