@import "../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-layouts/styles/material.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.modal.fade {
  background: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.fade {
  opacity: 0;
}

/* @media (prefers-color-scheme: dark) {

  .graph {
    filter: invert(100%);
  }

} */

.modal-90 {
  width: 80vw;
  max-width: 80vw !important;
}

*[contenteditable="true"] {
  /* text-decoration: underline;
  text-decoration-color: #007bff30;
  text-decoration-style: dashed; */
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  outline: none;
  cursor: text;
}

.pageStyle {
  background-color: #f5f5f7;
  min-height: 100vh;
}

.pageInnerWrapper {
  margin: 0px 86px;
}

.uppy-DragDrop-inner {
  padding: 20px !important;
}