.fieldWrap {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 130px 400px;
  column-gap: 40px;
  margin-bottom: 16px;
}

.inputField {
  padding: 8px 12px;
  outline: none;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  max-width: 400px;
  min-width: 400px;
  font-family: "Roboto";
}

.textField {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.editStateWrap {
  margin: 10px 0px;
  display: flex;
  column-gap: 10px;
}

.parentWrap {
  height: 220px;
}

.inputFieldReadOnly {
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 4px;
  max-width: 400px;
  min-width: 400px;
  color: rgb(82, 79, 79);
  font-family: "Roboto";
  background-color: #e9e9e9;
}

@media (max-width: 768px) {
  .fieldWrap {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .textField {
    width: 100%;
  }
  .fieldWrap {
    width: 100%;
  }
  .textFieldOuterWrap {
    width: 100%;
  }
  .inputFieldReadOnly {
    max-width: 100%;
    min-width: 100%;
    padding: 6px;
  }
  .inputField {
    max-width: 100%;
    min-width: 100%;
    padding: 6px;
  }
}
